<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/styles/index.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', path='/scripts/htmx.min.js') }}"></script>
    <title>Gasnote</title>
</head>
<body>
    <h1>Zalogowano pomyślnie, witaj: {{email}}!</h1>
    <p class="font-bold">Open Sans Bold</p>
    <p class="font-italic">Open Sans Curved</p>

    <!-- Copied from htmx docs -->
    
</body>
</html>